{% extends 'layout.html' %}

{% block title %}FoodWatch{% endblock %}

{% block main %}
    <div class="jumbotron text-center" style = "background-image: linear-gradient(#f7ecd9, #ffa814)"">
        <img src="https://i.imgur.com/0tL6Y9z.png" alt="By us, For you." width="500">
        <h1>By Us, For You.</h1>
        <p>Your kitchen, your cupboards, your pantry.</p>
    </div>
    <div class="container">
        <div class="text-left">
            <a href="/add" class="btn btn-primary">Add</a>
        </div>
        <br>
        <table class="table table-default">
            <thead>
                <th>Food</th>
                <th>Quantity</th>
                <th>Expiry</th>
                <th>Days Left</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.quantity|string }}</td>
                        <td>{{ food.expiry }}</td>
                        {% if food.daysleft <= 3 %}
                            <td style="color: red;">{{ food.daysleft }}</td>
                        {% else %}
                            <td>{{ food.daysleft }}</td>
                        {% endif %}
                        <form method="POST">
                            <td><select class="form-control" name="quantity">
                                <option value="all" selected>All</option>
                                {% for i in range(food.quantity|int) %}
                                    <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                                {% endfor %}
                            </select></td>
                            <td><button class="btn btn-primary" type="submit">Remove</button></td>
                        </form>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="jumbotron text-center" style = "background: #ffffff">

    </div>
{% endblock %}
