<!DOCTYPE html>
<html>


<body>
  <div class="jumbotron text-center" style = "background-image: linear-gradient(#f7ecd9, #ffa814)"">
  <img src="https://i.imgur.com/0tL6Y9z.png" alt="By us, For you." width="500">
  <h1>By Us, For You.</h1>
  <p>Your kitchen, your cupboards, your pantry.</p>
</div>
    <div class="container" >
        <br><br>
        <table class="table table-default">
            <thead>
                <th>Food</th>
                <th>Quantity</th>
                <th>Expiry</th>
                <th>Days Left</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for food in foods %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.quantity|string }}</td>
                        <td>{{ food.expiry }}</td>
                        {% if food.daysleft <= 3 %}
                            <td style="color: red;">{{ food.daysleft }}</td>
                        {% else %}
                            <td>{{ food.daysleft }}</td>
                        {% endif %}

                        <td><a href="">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  <div class="jumbotron text-center" style = "background: #ffffff">
  <h2></h2>
  <p></p>
</div>
</body>
</html>
